%
caseycronyn@eduroam-23-83 11:37:09 ~/.../bristol/sw-engineering/2025-group-14 main
$ git pull
Already up to date.
caseycronyn@eduroam-23-83 11:37:14 ~/.../bristol/sw-engineering/2025-group-14 main
$ git status
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        deleted:    .vscode/launch.json
        deleted:    .vscode/settings.json

no changes added to commit (use "git add" and/or "git commit -a")
caseycronyn@eduroam-23-83 11:37:18 ~/.../bristol/sw-engineering/2025-group-14 main
$ fd -H .vscode
caseycronyn@eduroam-23-83 11:38:02 ~/.../bristol/sw-engineering/2025-group-14 main
$ fd -H map
docs/Maps/
docs/Maps/MapController.js
docs/Screens/MapSelectionScreen.js
docs/assets/mapScreenshots/
docs/assets/mapScreenshots/map1.png
docs/assets/mapScreenshots/map2.png
docs/assets/mapScreenshots/map3.png
docs/assets/mapScreenshots/map4.png
docs/assets/mapScreenshots/map5.png
docs/canals/CanalMap.js
docs/testmap.js
caseycronyn@eduroam-23-83 11:38:08 ~/.../bristol/sw-engineering/2025-group-14 main
$ fd -H project
caseycronyn@eduroam-23-83 11:38:19 ~/.../bristol/sw-engineering/2025-group-14 main
$ fd -H .projectile
caseycronyn@eduroam-23-83 11:38:25 ~/.../bristol/sw-engineering/2025-group-14 main
$ ls
docs               Game_Mechanics.txt Images             meetings.org       new-readme.md      README.md          Requirements
caseycronyn@eduroam-23-83 11:38:29 ~/.../bristol/sw-engineering/2025-group-14 main
$ git open
caseycronyn@eduroam-23-83 11:38:58 ~/.../bristol/sw-engineering/2025-group-14 main
$ tree
.
├── docs
│   ├── assets
│   │   ├── duck_walk1.png
│   │   ├── duck_walk2.png
│   │   ├── duck_walk3.png
│   │   ├── duck_walk4.png
│   │   ├── duck_walk5.png
│   │   ├── duck_walk6.png
│   │   ├── ducky_3_spritesheet.png
│   │   ├── ducky1.png
│   │   ├── ducky2.png
│   │   ├── fonts
│   │   │   └── Kaph-Regular.ttf
│   │   ├── garbage
│   │   │   ├── bottleidle.png
│   │   │   ├── boxidle.png
│   │   │   ├── flipflopidle.png
│   │   │   ├── maskidle.png
│   │   │   └── tireidle.png
│   │   ├── grass-texture.png
│   │   ├── mapScreenshots
│   │   │   ├── map1.png
│   │   │   ├── map2.png
│   │   │   ├── map3.png
│   │   │   ├── map4.png
│   │   │   ├── map5.png
│   │   │   └── tutorial.png
│   │   ├── ripple.png
│   │   ├── Sounds
│   │   │   ├── boat_crash.mp3
│   │   │   ├── canal_ambience.mp3
│   │   │   ├── duck_quack_shorter.mp3
│   │   │   ├── engine_noise.mp3
│   │   │   ├── lock_open_close.mp3
│   │   │   ├── morning-mood-edvard-grieg-juliush.mp3
│   │   │   ├── plastic_crunch.mp3
│   │   │   ├── pursuer_engine.mp3
│   │   │   ├── repair_drill.mp3
│   │   │   ├── repair_hammer.mp3
│   │   │   ├── repair_saw.mp3
│   │   │   ├── ship_breaking.mp3
│   │   │   ├── wood_break.mp3
│   │   │   └── yay.mp3
│   │   ├── StartScreenBg
│   │   │   └── bg.png
│   │   ├── water.png
│   │   └── x.txt
│   ├── Boat-grey.png
│   ├── Boat-redbrown.png
│   ├── boat.json
│   ├── Button.js
│   ├── canals
│   │   ├── BoatMath.js
│   │   ├── Canal.js
│   │   ├── CanalMap.js
│   │   ├── CanalNetwork.js
│   │   ├── DEVELOPING_WITH_CANALS.txt
│   │   ├── Doors.js
│   │   ├── LinearConnect.js
│   │   ├── Linkage.js
│   │   └── Lock.js
│   ├── DepthBar.js
│   ├── HealthBar.js
│   ├── Inconsolata.otf
│   ├── index.html
│   ├── jsconfig.json
│   ├── libraries
│   │   ├── p5.min.js
│   │   └── p5.sound.min.js
│   ├── Main.js
│   ├── Maps
│   │   ├── GameController.js
│   │   ├── InfoTextController.js
│   │   ├── LevelController.js
│   │   ├── MapController.js
│   │   └── TutorialSetupDisplay.js
│   ├── Player.js
│   ├── Pursuer.js
│   ├── Screens
│   │   ├── DifficultyScreen.js
│   │   ├── InfoScreen.js
│   │   ├── LoseScreen.js
│   │   ├── MapSelectionScreen.js
│   │   ├── StartScreen.js
│   │   └── WinScreen.js
│   ├── SpeechBubble.js
│   ├── style.css
│   ├── testing
│   │   ├── testLevel.js
│   │   ├── testLevelController.js
│   │   ├── testMain.js
│   │   └── testPlayerConfig.js
│   ├── testmap.js
│   ├── Timer.js
│   └── water.png
├── Game_Mechanics.txt
├── Images
│   ├── Commit_graph.png
│   ├── DGRM_updated.jpg
│   ├── DGRM.jpg
│   ├── DGRM.png
│   ├── Flow_diagram_of_the_game.png
│   ├── Flow.jpg
│   ├── GamePlay_flow.jpeg
│   ├── Group_photo.jpeg
│   ├── High_level_sequence.jpeg
│   ├── jira_screenshot.png
│   ├── NarrowboatGameUMLv0.1.png
│   ├── NASA_TLX_graph_average_score_by_category.png
│   ├── Raw_NASA_TLX_data.png
│   ├── Raw_SUS_data_DifficultLevel.png
│   ├── Raw_SUS_data_EasyLevel.png
│   ├── SUS_average_score_by_participant.png
│   └── teams_call.jpeg
├── meetings.org
├── new-readme.md
├── README.md
└── Requirements
    ├── GameRequirements.txt
    └── TestingSessionFeedback.md

15 directories, 106 files
caseycronyn@eduroam-23-83 11:46:00 ~/.../bristol/sw-engineering/2025-group-14 main
$ git pull
Already up to date.
caseycronyn@eduroam-23-83 11:46:05 ~/.../bristol/sw-engineering/2025-group-14 main
$ ls
docs               Game_Mechanics.txt Images             meetings.org       new-readme.md      README.md          Requirements
caseycronyn@eduroam-23-83 11:46:20 ~/.../bristol/sw-engineering/2025-group-14 main
$ bn new-readme.md
caseycronyn@eduroam-23-83 11:46:26 ~/.../bristol/sw-engineering/2025-group-14 main
$ ls
docs               Game_Mechanics.txt Images             meetings.org       README.md          Requirements
caseycronyn@eduroam-23-83 11:46:28 ~/.../bristol/sw-engineering/2025-group-14 main
$ git status
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        deleted:    .vscode/launch.json
        deleted:    .vscode/settings.json
        deleted:    new-readme.md

no changes added to commit (use "git add" and/or "git commit -a")
.vscode
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
                                                                                                                                                                                                                              1,8           All
